.crime1{
background-image: url('img/crime1.jpg');
}
.crime2{
background-image: url('img/crime2.jpg');
}
.crime3{
background-image: url('img/crime3.jpg');
}
.crime4{
background-image: url('img/crime4.jpg');
}
.crime5{
background-image: url('img/crime5.jpg');
}
.crime6{
background-image: url('img/crime6.jpg');
}
.finance1{
    background-image: url('img/finance1.jpg');
}
.finance2{
    background-image: url('img/finance2.jpg');
}
.finance3{
    background-image: url('img/finance3.jpg');
}
.finance4{
    background-image: url('img/finance4.jpg');
}
.finance5{
    background-image: url('img/finance5.jpg');
}
.finance6{
    background-image: url('img/finance6.jpg');
}