.entertainment1{
background-image: url('img/entertainment1.jpg');
}
.entertainment2{
background-image: url('img/entertainment2.jpg');
}
.entertainment3{
background-image: url('img/entertainment3.jpg');
}
.entertainment4{
background-image: url('img/entertainment4.jpg');
}
.entertainment5{
background-image: url('img/entertainment5.jpg');
}
.entertainment6{
background-image: url('img/entertainment6.jpg');
}