.politics1{
background-image: url('img/politics1.png');
}
.politics2{
background-image: url('img/politics2.jpg');
}
.politics3{
background-image: url('img/politics3.jpg');
}
.politics4{
background-image: url('img/politics4.png');
}
.politics5{
background-image: url('img/politics5.jpg');
}
.politics6{
background-image: url('img/politics6.png');
}